@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
#main {
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}
.page {
  width: 100%;
}
#p1 {
  /* background: url(https://images.unsplash.com/photo-1597157639073-69284dc0fdaf?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
  object-fit: cover;
  background-position: center;
  overflow: hidden;
  height: 100vh;
  position: relative;
}
.bg {
  position: absolute;
  z-index: -11;
}
#p1 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5vh 5vh;
  background-color: #820300;
  color: #ffff;
  height: 5vh;
  background-color: rgba(0, 0, 0, 0.3);
}
#p1 header nav ul {
  display: flex;
  gap: 2.5vw;
}
#p1 header nav ul li {
  list-style: none;
}
#p1 header nav ul li a {
  text-decoration: none;
  color: #ffff;
  font-family: "Poppins", sans-serif;
  font-size: 1.3vmax;
  font-weight: 400;
  transition: all 0.3s;
}
#p1 header nav ul li a:hover {
  color: #ee433d;
}
.logo {
  font-size: 1.5vmax;
}
.logo h1 {
  cursor: pointer;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffff;
  height: 95vh;
  background-color: rgba(0, 0, 0, 0.3);
}
#hero h1 {
  font-size: 5vmax;
  font-weight: 700;
  text-align: center;
}
#slider {
  position: absolute;
  display: flex;
  gap: 0;
  z-index: -11;
  height: 100%;
  animation: sliderAni 20s infinite;
}
@keyframes sliderAni {
  0% {
    left: 0;
  }
  15% {
    left: -100vw;
  }
  30% {
    left: -200vw;
  }
  50% {
    left: -300vw;
  }
  65% {
    left: -200vw;
  }
  80% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}
#slider img {
  height: 100%;
  width: 100vw;
  object-fit: cover;
}
#ani p {
  font-size: 5vmax;
  position: absolute;
  font-weight: 700;
  line-height: 10vmax;
  padding: 0;
  margin: 0;
  /* top: -12vmax; */
  /* top:6vmax; */
  animation: move 10s infinite;
}
@keyframes move {
  0% {
    top: 5vmax;
  }
  20% {
    top: -2vmax;
  }
  40% {
    top: -12vmax;
  }
  60% {
    top: -22vmax;
  }
  80% {
    top: -32vmax;
  }
  100% {
    top: -42vmax;
  }
}
#ani {
  position: relative;
  width: 45vmax;
  overflow: hidden;
  height: 6.5vmax;
  display: flex;
  text-align: center;
}
#hero section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero span {
  font-weight: 600;
  font-size: 1.7vmax;
}
.btns {
  margin-top: 2vmax;
  display: flex;
  gap: 2vmax;
}
.btns button,
#p3 button,
.ab-btn {
  height: 3.3vmax;
  width: 12vmax;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: #ffff;
  /* border: 1px solid white; */
  font-size: 1.2vmax;
  border: none;
  cursor: pointer;
  border-radius: 3.5vmax;
  transition: all 0.5s;
  box-shadow: -2px 3px 10px rgba(0, 0, 0, 0.3);
}
.btns button:hover,
#p3 button:hover,
.ab-btn:hover {
  color: black;
}

#g-page {
  display: flex;
  background: url(https://images.unsplash.com/photo-1558505212-da33bc774163?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  padding: 5vmax;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#g-page h1 {
  font-size: 3.5vmax;
  font-weight: 600;
  text-transform: uppercase;
}
#g-page span {
  font-size: 2.2vmax;
  font-weight: 400;
}
#g-page p {
  font-size: 1.6vmax;
  text-align: center;
  font-weight: 400;
}
#p2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #03091d;
  padding: 5vmax;
  gap: 2vmax;
}

#p2 h1 {
  font-size: 4vmax;
  text-align: center;
  line-height: 1;
  font-weight: 500;
  color: #ffff;
}
#p2 p {
  text-align: center;
  font-size: 1.5vmax;
}
#p3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vmax;
  background: url(https://images.unsplash.com/photo-1500622944204-b135684e99fd?q=80&w=1461&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -99;
  padding: 5vmax 0;
}
.p3-h1 {
  font-size: 4vmax;
  text-align: center;
text-transform: uppercase;
}
.boxs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vmax;
}
.box {
  height: 35vh;
  width: 20vw;
  background-color: #820300;
  border-radius: 0.5vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}
.box:hover span {
  opacity: 1;
}
.box span {
  position: absolute;
  color: #ffff;
  transition: all 0.4s;
  opacity: 0;
  font-size: 2.5vmax;
  font-weight: 700;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}
.box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.boxs-v2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vmax;
  padding: 0 10vmax;
}
#p5 {
  display: flex;
  flex-direction: column;
  gap: 2vmax;
  background-color: #03091d;
  padding: 5vmax 0;
}
.box-v2 {
  height: 15vmax;
  width: 15vmax;
  border-radius: 50%;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.box-v2 h1 {
  color: #eef5ff;
  position: absolute;
  z-index: 99;
  margin-top: 0;
  opacity: 0;
  transition: all 0.5s;
  text-align: center;
  font-size: 1.8vmax;
}
.box-v2:hover h1 {
  opacity: 1;
}
.box-v2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s;
}
.box-v2:hover img {
  transform: scale(1.2);
  filter: brightness(60%);
}
#p4 {
  display: flex;
  flex-direction: column;
  padding: 5vmax 0;
  justify-content: center;
  align-items: center;
  gap: 5vmax;
  background: url(https://images.unsplash.com/photo-1431794015670-1761ebb156ba?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -99;
}
#p4 h1 {
  font-size: 4vmax;
  text-align: center;
  line-height: 1;
  color: #fff;
}
.divs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3vmax;
}
.div {
  height: 35vh;
  width: 35vh;
  /* background-color: #FF9800; */
  /* border: 1px solid black; */
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.5vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
  transition: all 0.3s;
}
.div:hover {
  transform: translateY(-15px);
  box-shadow: 2px 6px 18px rgba(28, 21, 118, 0.7);
}
.divs section {
  width: 25vh;
}
.div img {
  height: 10vmax;
}
.div span {
  font-size: 1.5vmax;
  margin-top: 1vmax;
  text-align: center;
  font-weight: 500;
  line-height: 1;
}
#p6{
  min-height: 100vh;
  width: 100%;
  padding: 5vmax 0;
}
#p6 h1{
  font-size: 5vmax;
  text-align: center;
  margin-bottom: 2vmax;
}
.wrapper{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5vmax;
  padding: 0 10vmax;
}
.b-box{
  display: flex;
  flex-direction: column;
  width: 27vmax;
  height: 27vmax;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s;
}
.b-box:hover{
  transform: translateY(-20px);
}
.b-box h3{
  font-size: 1.5vmax;
  line-height: 1;
  font-weight: 500;
}
.b-box img{
  height: 15vmax;
  width: 100%;
  object-fit: cover;
}
.b-text{
  padding: 1vmax;
}
.b-text p{
  margin-top: 5px;
  text-align: justify;
  font-size: 1vmax;
}
footer {
  display: flex;
  justify-content: space-evenly;
  height: 50vh;
  background-color: #820300;
  align-items: center;
  /* padding: 0 10vmax; */
}
.contact{
  display: flex;
  gap: 1vmax;
}
footer nav ul {
  display: flex;
  flex-direction: column;
}
footer nav ul li {
  list-style: none;
  transition: all 0.5s;
}
footer nav ul li a {
  text-decoration: none;
  color: #ffff;
  font-size: 1vmax;
}
footer nav ul li:hover {
  transform: translateX(10px);
}
footer .logo h1 {
  text-align: center;
  color: #ffff;
  font-size: 3vmax;
}
.icons {
  display: flex;
  font-size: 1.6vmax;
  gap: 2vmax;
  color: #ffff;
}
.icons a {
  color: #ffff;
  transition: all 0.5s;
}
.icons a:hover {
  color: #e23634;
}
footer .con {
  display: flex;
  flex-direction: column;
  gap: 1vmax;
  color: #ffff;
}
#pack-bg {
  background-color: #e23634;
}
.sec-ser {
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#p3 section {
  position: relative;
}
.bg-img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0vmax;
  z-index: -111;
}
.bg-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

@media (width<600px) {
  .nav {
    display: none;
  }
}
